[submodule "private_difra"]
	path = private_difra
	url = https://fwyaime@gitlab.com/abakus-it/odoo-customers/difra.git
[submodule "private_account_export"]
	path = private_account_export
	url = https://fwyaime@gitlab.com/abakus-it/odoo-private/account_export.git
